In [1]:
import ast
import re
import pandas as pd
from codealltag_data_processor_v2025 import CodealltagDataProcessor

In [2]:
cdp_2022 = CodealltagDataProcessor(data_version='20220513', config_path=['codealltag_data_processor_v2025.yml'])

In [3]:
sample_df = pd.read_csv('data_syntheticity_dataset_3500_ts.csv', index_col=0)

In [4]:
sample_df_p75 = sample_df[(sample_df.L318BPOS > 0.75) & (sample_df.G29BPOS > 0.75)]

In [5]:
sample_df_p75.reset_index(drop=True, inplace=True)

In [6]:
labels = ['CITY', 'DATE', 'EMAIL', 'FAMILY', 'FEMALE', 'MALE', 'ORG', 
          'PHONE', 'STREET', 'STREETNO', 'UFID', 'URL', 'USER', 'ZIP']

In [7]:
idx = 902

In [8]:
sample_df_p75.iloc[idx]

FilePath          CodEAlltag_pXL_PHILOSOPHY/1-/18-/180642.txt
OT          Hallo an alle Psychologen und Philosophen,\n\n...
OA          {'Token_ID': {0: 'T1', 1: 'T2', 2: 'T3', 3: 'T...
OTT         Hallo an alle Psychologen und Philosophen , de...
OTTL        Hallo O\nan O\nalle O\nPsychologen O\nund O\nP...
MT5O        CITY: Weberschlag **Jungheim**; CITY: Webersch...
MT5PT       Hallo an alle Psychologen und Philosophen,\n\n...
MT5PA       {'Token_ID': {0: 'T1', 1: 'T2', 2: 'T3', 3: 'T...
MT5PTT      Hallo an alle Psychologen und Philosophen , de...
MT5PTTL     Hallo O\nan O\nalle O\nPsychologen O\nund O\nP...
L318BPO     FEMALE: Diedrich **Gerda**; FAMILY: Jaedeke **...
L318BPOS                                             0.916667
G29BPO      OUTPUT\n-----\nORG: Wirtschaftsinformatik **Fi...
G29BPOS                                                   1.0
Name: 902, dtype: object

In [9]:
print(sample_df_p75.iloc[idx].OT)

Hallo an alle Psychologen und Philosophen,

der einzige Grund, warum ich cross-poste ist der, dass der Konstruktivismus
sehr interdisziplinär betrachtet werden kann.

Ich bin Student der Wirtschaftsinformatik in Weberschlag und schreibe eine
Hausarbeit zum Thema "Konstruktivismus und Modellierung in der
Wirtschaftsinformatik / Software-Entwicklung".

Meine Frage:
Kennt jemand irgendwelche Quellen, Literatur oder sonstirgendwas zu diesem
Thema? Das wäre ganz ganz super!!!

Vielen Dank im voraus und

Größe aus Weberschlag,

Diedrich

--
--------- Diedrich Jaedeke -------
--- Phone:   0024-937383 ---
--- Fax:          000955 ---
--- Mobile: 5805-4450855 ---
----------------------------
------ http://etitb.ix -----
---- http://cqdbsoxkg.vh ---
- http://cuabagxivqzqgr.jf -
--- http://ukolh-bazu.wc ---

In [10]:
pd.DataFrame(ast.literal_eval(sample_df_p75.iloc[idx].OA))

   Token_ID   Label Start  End                     Token
0        T1    CITY   212  223               Weberschlag
1        T2    CITY   514  525               Weberschlag
2        T3    MALE   528  536                  Diedrich
3        T4    MALE   551  559                  Diedrich
4        T5  FAMILY   560  567                   Jaedeke
5        T6   PHONE   589  600               0024-937383
6        T7   PHONE   623  629                    000955
7        T8   PHONE   646  658              5805-4450855
8        T9     URL   699  714           http://etitb.ix
9       T10     URL   726  745       http://cqdbsoxkg.vh
10      T11     URL   752  776  http://cuabagxivqzqgr.jf
11      T12     URL   783  803      http://ukolh-bazu.wc

In [11]:
print(sample_df_p75.iloc[idx].L318BPO)

FEMALE: Diedrich **Gerda**; FAMILY: Jaedeke **Jansen**; CITY: Weberschlag **Wermelskirchen**; MALE: Diedrich **Oswald**; PHONE: 0024-937383 **664/8543257**; FAX: 000955 **0322/1421590**; PHONE: 5805-4450855 **0038/9251431**; URL: http://etitb.ix **http://hgm.jxjybg.fq/Aeqgq**; URL: http://cqdbsoxkg.vh **http://rkt.ruxmz.zq/Fcggd**; URL: http://cuabagxivqzqgr.jf **http://ujn.ikbzx.xs/Kpghu**; URL: http://ukolh-bazu.wc **http://eul.ywvyr.vj/Qtgfn**

In [12]:
cdp_2022.get_annotation_df_with_input_text_and_predicted_text(
    sample_df_p75.iloc[idx].OT, 
    sample_df_p75.iloc[idx].L318BPO, 
    labels
)

['FEMALE: Diedrich **Gerda**', ' FAMILY: Jaedeke **Jansen**', ' CITY: Weberschlag **Wermelskirchen**', ' MALE: Diedrich **Oswald**', ' PHONE: 0024-937383 **664/8543257**', ' FAX: 000955 **0322/1421590**', ' PHONE: 5805-4450855 **0038/9251431**', ' URL: http://etitb.ix **http://hgm.jxjybg.fq/Aeqgq**', ' URL: http://cqdbsoxkg.vh **http://rkt.ruxmz.zq/Fcggd**', ' URL: http://cuabagxivqzqgr.jf **http://ujn.ikbzx.xs/Kpghu**', ' URL: http://ukolh-bazu.wc **http://eul.ywvyr.vj/Qtgfn**']

,Token_ID,Label,Start,End,Token,Pseudonym
0,T1,FEMALE,528,536,Diedrich,Gerda
1,T2,FAMILY,560,567,Jaedeke,Jansen
2,T3,PHONE,589,600,0024-937383,664/8543257
3,T4,PHONE,646,658,5805-4450855,0038/9251431
4,T5,URL,699,714,http://etitb.ix,http://hgm.jxjybg.fq/Aeqgq
5,T6,URL,726,745,http://cqdbsoxkg.vh,http://rkt.ruxmz.zq/Fcggd
6,T7,URL,752,776,http://cuabagxivqzqgr.jf,http://ujn.ikbzx.xs/Kpghu
7,T8,URL,783,803,http://ukolh-bazu.wc,http://eul.ywvyr.vj/Qtgfn

In [13]:
print(sample_df_p75.iloc[idx].G29BPO)

OUTPUT
-----
ORG: Wirtschaftsinformatik **Finanzwesen**; CITY: Weberschlag **Heidenau**; MALE: Diedrich **Klaus**; FAMILY: Jaedeke **Berger**; PHONE: 0024-937383 **551/6783240**; PHONE: 000955 **343/7902187**; PHONE: 5805-4450855 **125/8765439** ; URL: http://etitb.ix **http://jdf.qrzcguw.tk/**; URL: http://cqdbsoxkg.vh **http://gtu.vtyhglt.me/**; URL: http://cuabagxivqzqgr.jf **http://zsl.bxowqlu.ml/** ; URL: http://ukolh-bazu.wc **http://cwx.hryfmxl.eu/**

In [14]:
cdp_2022.get_annotation_df_with_input_text_and_predicted_text(
    sample_df_p75.iloc[idx].OT, 
    sample_df_p75.iloc[idx].G29BPO,
    labels
)

['OUTPUT\n-----\nORG: Wirtschaftsinformatik **Finanzwesen**', ' CITY: Weberschlag **Heidenau**', ' MALE: Diedrich **Klaus**', ' FAMILY: Jaedeke **Berger**', ' PHONE: 0024-937383 **551/6783240**', ' PHONE: 000955 **343/7902187**', ' PHONE: 5805-4450855 **125/8765439** ', ' URL: http://etitb.ix **http://jdf.qrzcguw.tk/**', ' URL: http://cqdbsoxkg.vh **http://gtu.vtyhglt.me/**', ' URL: http://cuabagxivqzqgr.jf **http://zsl.bxowqlu.ml/** ', ' URL: http://ukolh-bazu.wc **http://cwx.hryfmxl.eu/** \n\n\n']

,Token_ID,Label,Start,End,Token,Pseudonym
0,T1,ORG,187,208,Wirtschaftsinformatik,Finanzwesen
1,T2,CITY,212,223,Weberschlag,Heidenau
2,T3,MALE,528,536,Diedrich,Klaus
3,T4,FAMILY,560,567,Jaedeke,Berger
4,T5,PHONE,589,600,0024-937383,551/6783240
5,T6,PHONE,623,629,000955,343/7902187
6,T7,PHONE,646,658,5805-4450855,125/8765439
7,T8,URL,699,714,http://etitb.ix,http://jdf.qrzcguw.tk/
8,T9,URL,726,745,http://cqdbsoxkg.vh,http://gtu.vtyhglt.me/
9,T10,URL,752,776,http://cuabagxivqzqgr.jf,http://zsl.bxowqlu.ml/
10,T11,URL,783,803,http://ukolh-bazu.wc,http://cwx.hryfmxl.eu/

In [15]:
label = "STREETNO"
pattern = r'\b'+label+r'\b'+':'
text = "STREETNO: 12  **7**"
print(f'[pattern = {pattern}] [text = {text}]')
if re.search(pattern, text):
    print(f'[label = {label}]')

[pattern = \bSTREETNO\b:] [text = STREETNO: 12  **7**]
[label = STREETNO]

In [16]:
pattern = r'^(.*?)\s*\*\*(.*?)\*\*'
text = "12  **7**"
print(f'[pattern = {pattern}] [text = {text}]')
matches = re.search(pattern, text)
if matches:
    print(f'[token = {matches.group(1)}] [pseudonym = {matches.group(2)}]')

[pattern = ^(.*?)\s*\*\*(.*?)\*\*] [text = 12  **7**]
[token = 12] [pseudonym = 7]